@page "/"
@using System.Reflection.Metadata
@using System.ComponentModel
@using System.Diagnostics
@using System.Runtime.CompilerServices
@using Board

<PageTitle>2048 bot</PageTitle>

<table class="board">
@for (int i = 0; i < 4; i++)
{
    <tr >
    @for (int j = 0; j < 4; j++)
    {
        <td>
            <p class="cell" style="background-color: rgb(@(b.grid[i,j]*5+60),30,@(b.grid[i,j]*10+40))">@((b.grid[i,j]>0) ?1 << b.grid[i, j] : "")</p>
        </td>
    }
    </tr>
}
</table>
<div class="debug">
    <h6 class="title">Debugging Screen</h6>
    <p class="text">Score: @(b.scoreBoard())</p>
    <p class="text">Time per tick: @(sw.ElapsedMilliseconds)ms</p>
</div>


@code {

    int FPS = 30;
    int TPS = 60;

    Board? b;
    Timer? gameTimer;
    Timer? updateTimer;

    Stopwatch sw = new Stopwatch();

    protected override void OnInitialized()
    {
        b = new Board();
        b.addRandomTile();
        b.addRandomTile();

        int updateInterval = 1000 / FPS;
        int gameInterval = 1000 / TPS;

        updateTimer ??= new Timer(UpdateLoop,null,0,updateInterval);
        gameTimer ??= new Timer(GameLoop,null,0,gameInterval);

    }

    public void UpdateLoop(object? state)
    {
        InvokeAsync(StateHasChanged);
    }

    public void GameLoop(object? state)
    {
        sw.Reset();
        sw.Start();
        b.tick();
        sw.Stop();
    }

}