.cell[b-ne24yv1deb] {
    width: 150px;
    height: 150px;
    font-size: 50px;
    border: 5px solid #000000;
    align-content: center;
    text-align: center;
    margin: -3.5px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    border-color: black;
}

.board[b-ne24yv1deb] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}